<% if @user.valid? && @message.valid? %>
  const messageWrapper = document.querySelector('.message-wrapper')
  messageWrapper.innerHTML = `
  <div class="thanks-message-container">
    <h3 id="thanks-message">Thanks for your message!</h3>
  </div>`;


  // function newMessage() {
  //   messageWrapper.innerHTML = `<%= render 'message_form' %>`

  //   document.querySelector('textarea').value = "";;

  //   const inputs = document.querySelectorAll('input');

  //   inputs.forEach(function(input) {
  //     input.value = "";
  //   });
  // };

  // setTimeout(newMessage, 5000);

<% else %>

  <% if !@user.valid? %>
    document.getElementById('message-email-error').innerText = '<%= @user.errors.messages[:email][0] %>';
    document.querySelector('.message_user_email label').style.color = 'rgb(255, 110, 36)';
    document.getElementById('message_user_email').style.borderColor = 'rgb(255, 110, 36)';
  <% else %>
    document.getElementById('message-email-error').innerText = '';
    document.querySelector('.message_user_email label').style.color = 'rgba(0,0,0,0.8)';
    document.getElementById('message_user_email').style.borderColor = '#ccc';
  <% end %>

  <% if @message.content.nil? %>
    document.getElementById('message-content-error').innerText = '<%= @message.errors[:content][0] %>';
    document.querySelector('.message_content label').style.color = 'rgb(255, 110, 36)';
    document.getElementById('message_content').style.borderColor = 'rgb(255, 110, 36)';
  <% else %>
    <% if @message.content.length >= 20 &&  @message.content.length <= 500 %>
    document.getElementById('message-content-error').innerText = "";
      document.querySelector('.message_content label').style.color = `rgba(0,0,0,0.8)`;
      document.getElementById('message_content').style.borderColor = '#ccc';
    <% else %>
      document.getElementById('message-content-error').innerText = '<%= @message.errors[:content][0] %>';
      document.querySelector('.message_content label').style.color = 'rgb(255, 110, 36)';
      document.getElementById('message_content').style.borderColor = 'rgb(255, 110, 36)';
    <% end %>
  <% end %>

<% end %>
