// Specific CSS for your home-page
body {
  font-family: $raleway;
  color: $font-color;
  background-color: $main-background;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.project-box-image {
  height: 250px;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
}
