/* Background animation */
.flex-box-landing-page {
	height: 100vh;
}

.content-box {
	display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  span {
  	font-weight: bolder;
  	font-size: 20px;
  };
  img {
     z-index: 9;
     opacity: 0.8;
  }
}

.intro-text {
  letter-spacing: 0.1px;
  line-height: 1.6em;
  padding: 30px;
  z-index: 9;
  padding: 20px;
  width: 60%;
  i {
    color: $flash;
  }
}

#avatar {
  height: 200px;
}

/* Responsove */

@media screen and (max-width: 650px) {
  .content-box {
    width: 100%;
  }
  #avatar {
    height: 120px;
  };
  .intro-text {
    width: 65%;
    font-size: 14px;
    padding: 0;
  }
}
