.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.projects-row {
  display: flex;
  flex: 1 0 3;
  flex-basis: 80;
  flex-basis: 60%;
  flex-direction: column;
}

#projects-section .col-xs-6 {
  padding: 0;
  transition: all 2s;
}

.box-project {
  padding: 15px;
}

.project-title {
  font-size: 16px;
  text-align: center;
}

.project-box-image {
  height: 25vh;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
    background-size: 120%;
  }
}

.filter-tags {
  width: 80%;
  margin: 0 auto;
}

.container-tags {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.technology-tag {
  padding: 5px 10px;
  background-color: rgba(220, 220, 220, 0.1);
  display: inline-block;
  max-width: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 3px;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    background-color: rgba(220, 220, 220, 0.4);
  }
}

.filter-tags-dropdown {
  display: none;
}

.filter-button-dropdown {
  width: 100%;
  margin: 40px 0 10px 0;
}

.container-tags-dropdown {
  display: none;
}

/* Responsive */
@media screen and (max-width: 1000px) {
  .filter-tags {
    display: none;
  }
  .filter-tags-dropdown {
    display: block;
  }
  // .project-box-image {
  //   height: 90px;
  // }
}

@media screen and (max-width: 400px) {
  #projects-section .col-xs-6 {
    padding: 0;
  }
  .box-project {
    padding: 5px;
  }
  // .project-box-image {
  //   height: 90px;
  // }
}
