.fp-tableCell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#projects-section {
  position: relative;
  .col-xs-12 {
    padding: 0;
  }
}

.box-project {
  padding: 15px;
}

.project-title {
  font-size: 16px;
  text-align: center;
}

.project-box-image {
  height: 200px;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
}

.container-tags {
  border: 1px solid $gray;
  padding: 5px;
}

.technology-tag {
  padding: 5px 10px;
  background-color: rgba(200, 200, 200, 0.1);
  display: inline-block;
  max-width: fit-content;
  border: 1px solid $font-color;
  margin: 3px;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    background-color: rgba(200, 200, 200, 0.7);
  }
}
