.flex-container {
  width: 100%;
}

#projects-section .fp-tableCell {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#projects-section .col-xs-6 {
  padding: 0;
  transition: all 2s;
}

#projects-section .fp-tableCell {
  position: relative;
}

.box-project {
  padding: 2px;
}

.project-active {
  box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

.project-inactive {
  box-shadow: 0;
  opacity: 0.2;
}


.project-title {
  font-size: 16px;
  text-align: center;
}

.project-box-image {
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 25vh;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
    background-size: 120%;
  }
}

.filter-bar-container {
  position: absolute;
  left: -20vw;
}

.filters-right-slide {
  transition: all 2s;
  position: relative;
  left: -100%;
  z-index: 9;
  height: 100vh;
  margin: 0;
  line-height: 1;
  padding: 0;
  background-color: rgba(252, 252, 252, 0.95);
  box-shadow: 1px 1px 5px rgba(200, 200, 200, 0.2);
  padding: 20px;
  list-style: none;
  flex-direction: column;
  justify-content: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  display: flex;
  justify-content: center;
  li {
    transition: all 0.5s;
    cursor: pointer;
    padding: 5px;
    &:hover {
      color: rgba(0, 0, 0, 0.8);
      background-color: rgba(200,200,200,0.3);
    }
  }
}

.filters-right-slide-active {
  left: 0 !important;
}

.arrow-toggle-filters, .filers-active {
  color: $flash;
  cursor: pointer;
  margin-left: 135px;
  position: absolute;
  bottom: 15px;
  transition: all 2s;
  &:hover {
    opacity: 0.7;
  }
}

.filers-inactive {
  top: 15px;
}

.technology-tag-active {
  box-shadow: 1px 1px 3px rgba(200, 200, 200, 0.5);
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(200,200,200,0.3);
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}

/* Responsive */
@media screen and (max-width: 1000px) {
  .filter-tags {
    display: none;
  }
  .filter-tags-dropdown {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  #projects-section .fp-tableCell {
    width: 70%;
  };
  .filter-bar-container {
    left: -15vw;
  }
}

@media screen and (max-width: 700px) {
  #projects-section .fp-tableCell {
    width: 80%;
  };
  .filter-bar-container {
    left: -10vw;
  }
}

@media screen and (max-width: 600px) {
  #projects-section .fp-tableCell {
    width: 90%;
  };
  .filter-bar-container {
    left: -5vw;
  }
}

@media screen and (max-width: 500px) {
  #projects-section .fp-tableCell {
    width: 100%;
  };
  .filter-bar-container {
    left: 0;
  }
}



@media screen and (max-width: 400px) {
  #projects-section .col-xs-6 {
    padding: 0;
  };
  .box-project {
    padding: 5px;
  }
}

/* Pop Up project */
.pop-up-project {
  display: none;
  position: absolute;
  top: 0;
  height: 75vh;
  left: 12vw;
  right: 12vw;
  padding: 10px 10px 0 10px;
  background-color: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 5px rgba(200, 200, 200, 0.2);
  z-index:99;
  text-align: center;
}

.container-pop-up {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    display: block;
    color: rgba(252, 252, 252, 0.97);
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 5px rgba(200, 200, 200, 0.2);
    padding: 5px;
    width: 100%;
  };
  p {
    margin: 0 0 45px;
  }
}

.image-pop-up-project {
  width: 50%;
}

.bottom-popUp {
  margin-left: -11px;
  margin-right: -11px;
  margin-top: -2px;
  display: flex;
  justify-content: space-between;
  .links-container {
    display: inline-flex;
    background-color: #fff;
    box-shadow: 1px 5px 5px rgba(200, 200, 200, 0.2);
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
}


.link-btn {
  border: 1px solid $flash;
  background-color: rgba(220, 220, 220, 0.1);
  box-shadow: 1px 1px 5px rgba(200, 200, 200, 0.2);
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $flash;
  margin: 5px;
  transition: all 1s;
  font-size: 14px;
  &:hover {
    text-decoration: none;
    background-color: $flash;
    color: $main-background;
    opacity: 0.7;
  };
  &:focus {
    text-decoration: none;
    color: $main-background;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.triangle {
  width: 60px;
  height: 60px;
  border-top: solid 30px rgba(200, 200, 200, 1);
  border-left: solid 30px rgba(200, 200, 200, 1);
  border-bottom: solid 30px transparent;
  border-right: solid 30px transparent;
  cursor: pointer;
  p {
    position: relative;
    right: 26px;
    top: -5px;
    transform: rotate(-45deg);
  };
  &:hover {
    border-top: solid 30px rgba(100, 100, 100, 1);
    border-left: solid 30px rgba(100, 100, 100, 1);
  }
}

@media screen and (max-width: 1500px) {
  .pop-up-project {
    left: 15vw;
    right: 15vw;
  }
}

@media screen and (max-width: 815px) {
  .pop-up-project {
    left: 17vw;
    right: 17vw;
  }
}

@media screen and (max-width: 700px) {
  .pop-up-project {
    left: 0;
    right: 0;
  };
  .link-btn {
    font-size: 12px;
  }
}

/* Laptop */
.laptop {
  width: 50rem;
  position: relative;
}

.laptop:before {
  background: #222;
  display: block;
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  top: 0.7rem;
  left: 24.5rem;
  z-index: 1000;
}

.laptop:after {
  display: block;
  content: "";
  position: absolute;
  width: 95%;
  margin-left: 2.5%;
  height: 0.75rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
}

.upper {
  width: 40rem;
  height: 23rem;
  background: #3d4144;
  border: 2px solid #eaeaea;
  border-bottom: none;
  border-radius: 1.5rem 1.5rem 0 0;
  margin-left: 5rem;
  box-shadow: inset 0 0 2px 2px #222;
  position: relative;
}

.lower {
  width: 50rem;
  height: 2rem;
  background: #eaeaea;
  border-radius: 2px;
  position: relative;
}

.lower:before {
  display: block;
  content: "";
  position: absolute;
  width: 10rem;
  height: 0.8rem;
  background: #a1a1a1;
  left: 20rem;
  top: 0;
  border-radius: 0 0 0.25rem 0.25rem;
}

.lower:after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 0.75rem;
  background: #bababa;
  top: 2rem;
  border-bottom-right-radius: 7.5rem 2.5rem;
  border-bottom-left-radius: 7.5rem 2.5rem;
}

.upper:before {
  width: 36rem;
  height: 19rem;
  display: block;
  content: "";
  top: 2rem;
  left: 2rem;
  position: absolute;
}

.image-laptop-project {
  width: 36rem;
  height: 19rem;
  position: relative;
  top: 20px;
}

@media screen and (max-width: 800px) {
  .upper {
    width: 30rem;
    height: 18rem;
    margin: 0 auto;
    img {
      width: 26rem;
      height: 14.5rem;
    };
  };
  .lower {
    width: 35rem !important;
    margin: 0 auto !important;
    &:before {
      left: 13rem;
    }
  };
}
