<div class="ask-for-turn-screen">
  <h4>For a better experience, please turn your screen, thanks and enjoy!</h4>
  <div class="div-icons-turn">
    <i class="fas fa-mobile-alt modile-horizontal"></i>
    <i class="fas fa-undo"></i>
    <i class="fas fa-mobile-alt mobile-vertical"></i>
  </div>
</div>
