<div class="flex-box-landing-page">
  <div class="content-box">
      <p class="intro-text">
        <i class="fas fa-quote-left"></i>&nbsp;&nbsp;Hi there! I'm Olivier, Full-Stack web developer.
        Coding is more than a simple job, is a passion! I love designing and building apps from scratch, it would be a pleasure to help you, niiice...&nbsp;&nbsp;<i class="fas fa-quote-right"></i>
      </p>
    <%= cl_image_tag @admin.avatar, height: '200' %>
  </div>
</div>

