<div class="row">
  <% @projects.each do |project| %>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="box-project">
        <h3 class="project-title"><%= project.title %></h3>
        <div class="project-box-image" style="background-image: linear-gradient(-225deg, rgba(100, 100, 100, 0.3), rgba(100, 100, 100, 0.1)), url(<%= cl_image_path project.image %>);"></div>
      </div>
    </div>
  <% end %>
</div>
