<div class="title text-center">
    <h1>Olivier Riccini</h1>
    <h2>Full-Stack Developer</h2>
    <p><i class="fa fa-home"></i> Montreal, Quebec, Canada  -  <i class="fa fa-phone"> </i> <a href="tel:+674990099">438-399-1332</a>  -  <i class="fa fa-envelope"></i> <a href="mailto:contact@olivier-webdev.com">info@olivierriccini.com</a>  -  <i class="fa fa-github"></i> <a href="https://github.com/OlivierRiccini" target="_blank">github.com/OlivierRiccini</a> - <a href="http://www.olivierriccini.com/">http://www.olivierriccini.com/</a>
      </li>
    </p>
  </div>

  <div class="intro text-center">
    <h3>Summary</h3>
    <p>Entrepreneurial-minded professional with a passion for coding. Developed a strong interest for web programing while collaborating with a digital agency on the launch of a social platform dedicated to sports. Acquired solid knowledge and outstanding skills over the past few years through self-learning and by attending prestigious coding boot camp Le Wagon in Montreal.
    </p>
 </div>

  <div class="skills">
      <h3 class="section-title">Skills</h3>
      <p><strong>Frontend:</strong> HTML5 - CSS3 / SCSS - Javascript - JQuery - Bootstrap // <strong>Backend:</strong> Ruby / Ruby on Rails // <strong>Database:</strong> postgresql // <strong>Server:</strong> Heroku - AWS // <strong>Languages:</strong> French(native) - English(proficient) - Spanish(proficient)</p>
  </div>


  <div class="experience">
    <h3 class="section-title">Experience</h3>
    <div class="box-grid">
      <p class="date">2017-10 -<br>
      present
      </p>
      <div class="description">
        <h4>Freelance Web Development</h4>
        <p>- Website design & creation from scratch <br>
          More informations: <br>
          - github: <i class="fa fa-github"></i> <a href="https://github.com/OlivierRiccini" target="_blank">github.com/OlivierRiccini</a> <br>
          - personal website: <a href="http://www.olivierriccini.com/">http://www.olivierriccini.com/</a>
        </p>
      </div>
    </div>
    <div class="box-grid">
      <p class="date">2017-10 -<br>
      present
      </p>
      <div class="description">
        <h4>Founder & Front-end developer - hello-template</h4>
        <p>- Front-end Development <br>
          -  Web Marketing and social media
      </div>
    </div>
    <div class="box-grid">
      <p class="date">2016-05 -<br>
      2017-10
      </p>
      <div class="description">
        <h4>Founder & Owner - Deals And Sports</h4>
        <p>B2B Marketplace dedicated to sport.<br>
          - Development of website in partnership with a digital agency <br>
          - Front-end Development
          - Web Marketing and social media <br>
          - Accounting, administrative and legal operations
        </p>
      </div>
    </div>
    <div class="box-grid">
      <p class="date">2013-09 -<br>
      2016-05
      </p>
      <div class="description">
        <h4>Founder & Owner - MG FOOT</h4>
        <p>Retail store specialized in soccer gear and apparel.<br>
          - Managed purchasing, sales, marketing, communication, accounting, administrative and legal operations.
        </p>
      </div>
    </div>
    <div class="box-grid">
      <p class="date">2011-06 -<br>
      2013-02
      </p>
      <div class="description">
        <h4>Business Manager - Espace Elec</h4>
        <p>Part of the Rexel Group, world leader in electrical supplies.<br>
          - Commercial management and ustomer care.
        </p>
      </div>
    </div>
  </div>

  <div class="education">
  <h3 class="section-title">Education</h3>
    <div class="box-grid">
      <p class="date">2018-01 -<br>
      2018-03
      </p>
      <div class="description">
        <h4>Le Wagon Montreal, FullStack Developer</h4>
        <p>9-week intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES2015, SQL, git, GitHub, Heroku and Ruby on Rails. Designed, Implemented and Shipped to production a clone of AirBnB and a Rails prototype of Gamiflex.</p>
      </div>
    </div>
  <div class="box-grid">
      <p class="date">2008-09 -<br>
      2011-06
      </p>
      <div class="description">
        <h4>KEDGE Business School Marseille, Bachelor in Management</h4>
        <p>French management school with over 6 campuses worldwide, including 12,000 students and over 50,000 alumni across the world. </p>
      </div>
    </div>
</div>
