<div class="container services-container">
  <div class="row row-services">
    <div class="col-xs-6 service prestations">
      <div class="box-service">
        <i class="fas fa-laptop"></i>
        <h3>What I do</h3>
        <ul>
          <li>Apps from scratch</li>
          <li>Databases</li>
          <li>Adding features</li>
          <li>to Rails apps</li>
          <li>Front-end integration</li>
          <li>...</li>
        </ul>
      </div>
    </div>
    <div class="col-xs-6 service back-end">
      <div class="box-service">
        <i class="fas fa-terminal"></i>
        <h3>Back-End</h3>
        <ul>
          <li>Ruby</li>
          <li>Ruby on Rails</li>
          <li>Postgresql</li>
          <li>Heroku</li>
          <li>Travis</li>
          <li>...</li>
        </ul>
     </div>
    </div>
  </div>
  <div class="row row-services">
    <div class="col-xs-6 service front-end">
      <div class="box-service">
        <i class="fas fa-code"></i>
        <h3>Front-End</h3>
        <ul>
          <li>HTML 5</li>
          <li>CSS 3 / Sass</li>
          <li>Javascipt</li>
          <li>js libraries</li>
          <li>Webpack</li>
          <li>...</li>
        </ul>
      </div>
    </div>
    <div class="col-xs-6 service tools">
      <div class="box-service">
        <i class="fas fa-wrench"></i>
        <h3>Tools</h3>
        <ul>
          <li>Git / Github</li>
          <li>Slack</li>
          <li>Figma</li>
          <li>Trello</li>
          <li>Google Suite</li>
          <li>...</li>
        </ul>
      </div>
    </div>
  </div>
</div>
