<div id="fullpage">
  <div class="section">
    <%= render 'shared/landing_page' %>
  </div>
  <div class="section">
    <%= render 'shared/projects_index' %>
  </div>
  <div class="section">
    <%= render 'shared/contact_section' %>
  </div>
</div>
