.big-button {
  width: 100%;
  display: block;
  text-align: center;
  border: 1px solid $flash;
  padding: 5px;
  background-color: rgba(220, 220, 220, 0.1);
  cursor: pointer;
  width: 100%;
  margin: 40px 0 10px 0;
  color: $flash;
  transition: all 2s;
  &:hover {
    background-color: $flash;
    color: $main-background;
    opacity: 0.7;
  }
}
