.big-button {
  width: 100%;
  display: block;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  background-color: rgba(220, 220, 220, 0.1);
  cursor: pointer;
  width: 100%;
  margin: 40px 0 10px 0;
  transition: all 2s;
  &:hover {
    background-color: rgba(220, 220, 220, 0.4);
    border-color: rgba(0, 0, 0, 0.4);
  }
}
