.custom-footer {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100vw;
  // display: flex;
  justify-content: center;
  align-items: center;
  ul {
    padding: 2vh 30vw;
    margin: 0;
    border-top: 1px solid $font-color;
  };
  li {
    display: inline-block;
    a {
      color: $font-color;
      opacity: 0.6;
      font-size: 38px;
      margin: 0 5px;
      transition: all 0.5s;
      &:hover {
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .custom-footer {
    ul {
      padding: 1vh 30vw;
    }
  }
}
