.custom-footer {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100vw;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    align-items: center;
    padding: 2vh 15vw;
    margin: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
  };
  li {
    display: inline-block;
    a {
      color: $font-color;
      opacity: 0.4;
      font-size: 38px;
      margin: 0 5px;
      transition: all 0.5s;
      &:hover {
        color: $flash;
      }
    }
  };
}

.resume a {
  font-size: 14px !important;
  &:hover {
    text-decoration: none;
  }
}
