.custom-nav-bar {
  position: fixed;
  width: 100vw;
  z-index: 9;
}

#logo-inho {
  position: absolute;
  width: 60px;
  top: 20px;
  left: 20px;
}

.navigation {
  position: absolute;
  top: 20px;
  right: 20px;
  ul {
    padding: 0;
    list-style: none;
  }
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .overflow-hidden {
    overflow: hidden;
  };
  p {
    margin: 0;
    right: -100%;
    position: relative;
    transition: all 1s;
  };
  .span1 {
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border: 1px solid $font-color;
    transform: rotate(45deg);
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      background-color: rgba(0,0,0,0.7);
      transform: rotate(0deg);
    };
  };
  .span2 {
    display: block;
    height: 10px;
    width: 10px;
    border: 1px solid $font-color;
    background-color: $main-background;
  };
}

.display-class {
  right: 0 !important;
  font-weight: bolder !important;
}

.span-active {
  background-color: $font-color !important;
  transform: rotate(0deg) !important;
}
